/.git
/demo
/docs
/node_modules
/src

/dist/ngx-select.js
/dist/ngx-select.d.ts
/dist/ngx-select.metadata.json

yarn.lock
gulpfile.js
tslint.json
.editorconfig
.npmignore
.travis.yml
.vscode

npm-debug.log
yarn-error.log

*.spec.d.ts
*.spec.js

*.orig
*.swp
*.tgz
*.sh
